@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url(./assets/css/font-awesome.css);
@import url(./assets/css/hamburgers.css);
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
:root {
  --marginTop: 70px;
  --marginBottom: 50px;
  --marginLeft: 70px;
  --marginRight: 70px;
}
@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.boldFont{
  font-family: 'Anton', sans-serif;
}

html{
  font-size: calc(1em + 0.3vmax);
}
div{
  transition: "all .8s ease-in"
}
@keyframes hideme {
  100% {
    height: 0;
    width: 0; } }


@media only screen and (max-width: 766px) {

  #myNavbar {
    width: 100%;
    background-color: #eb7d4b; }
  #myNavbar li a {
    text-align: center;
    display: block;
    border-radius: 10px; } }

.navbar-brand {
  font-size: 2em !important;
  font-family: monospace;
  font-weight: bold; }

.paddingDiv {
  padding-top: 50px; }
.form-group label {
  font-size: 1.1em;
  font-family: "Titillium Web", sans-serif;
  color: rgba(255, 255, 255, 0.6); }

#myImage {
  box-shadow: 2px,2px,2px,2px; }

.valign {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.animateIn {
  -webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1; } }

@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1; } }

.animateOut {
  -webkit-animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0; } }

@keyframes flip-out-hor-top {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    opacity: 0; 
  } 
}


@keyframes animationIn{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes animationOut{
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      left: 2000px;
  }
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

.innerDivClass{
  width: calc(100% - var(--marginLeft) - var(--marginRight));
  height: calc(100% - var(--marginTop) - var(--marginBottom));
  top: var(--marginTop);
  left: var(--marginBottom);
}